html {
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}

body {
  overscroll-behavior-y: none;
}

section {
  scroll-margin-top: 4rem;
}

@media (prefers-reduced-motion: no-preference) {
  * {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
